.kasa-header {
    padding: 45px 100px;
    display: flex;
    justify-content: space-between;
    height: 68px;
    align-items: center;
    margin-bottom: 50px;
}

nav {
    gap: 57px;
    display: flex;
}

.nav-link {
    cursor: pointer;
    color: #FF6060;
    text-align: right;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%; /* 34.224px */
    text-decoration: none;
}

.nav-link:hover {
    text-decoration-line: underline;
}