.kasa-header {
    padding: 5%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    height: 68px;
    align-items: center;
    max-width: 1240px;
}

nav {
    gap: 57px;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.nav-link {
    cursor: pointer;
    color: #FF6060;
    text-align: right;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%; /* 34.224px */
    text-decoration: none;
}

.nav-link:hover {
    text-decoration-line: underline;
}


@media only screen and (max-width: 490px) {
    .nav-link {
        font-size: 17px;
    }
}

@media only screen and (max-width: 531px) {
    .kasa-header img {
        width: 145px;
        height: 47px;
    }

    nav {
        gap: 26px;
    }
}

@media only screen and (max-width: 350px) {

    .nav-link {
        font-size: 12px;
    }
}
