.container {
    display: flex;
    justify-content: center;
    padding: 0 5%;
    height: 900px;
  }

.card-container {
    border-radius: 25px;
    background-color: #F6F6F6;
    display: grid;
    grid-auto-flow: row;
    align-items: center;
    justify-content: center;
    max-width: 1240px;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    overflow-y: scroll;
    height: 829px;
}

@media only screen and (max-width: 1240px) {

  .card-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 800px) {

  .container {
    margin-bottom: 27px;
  }

  .card-container {
    grid-template-columns: 1fr;
    grid-row-gap: 20px;
    border-radius: 0;
  }
}

@media only screen and (max-width: 500px) {

  .container {
    height: 810px;
  }

  .card-container {

    background-color: white;
    height: 810px;
  }
}